@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary: #19586C;
    --secondary: #090A22;
}

.fundoPagina {
    background-color: var(--secondary);
}

.fundoMenu {
    background-color: var(--primary);
    width: calc(100% - 1vw);
}

.textAzul {
    color: var(--primary);
}

